.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 20px auto;
}

.properties{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 30px;
}

.property{
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    justify-self: center;
    max-height: 500px;
    max-width: 400px;
}

.propery-image{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.property-stats{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background: #3A5295;
    color: white;
}

.propery-stats-image{
    width: 1em;
    height: auto;
}

.bath-bedroom-count{
    display: flex;
    align-items: center;
    gap: 25px;
}

.bedroom-count, .bathroom-count{
    display: flex;
    align-items: center;
    gap: 5px;
}

.property-description{
    padding: 0 15px;
}

.property-type{
    display: flex;
    justify-content: space-between;
}

.property-h4-text{
    font-size: 0.7rem;
    margin: 10px 0 0 0
}

.location{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.map-pin{
    max-width: 15px;
    max-height: 15px;
}

.label{
    font-size: 0.7em;
    margin-bottom: 15px;
}

.view-home{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #CED3D8;
    padding: 5px 0;
}

.life-in-city{
    display: flex;
    margin: 50px auto;
    align-items: center;
    background-color: #F6FAFD;
    border-radius: 24px;
    padding: 40px 30px;
}

.being_a_student_text{
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    width: 50%;
    margin-right: 15px;
}

.students_photo{
    max-width: 50%;
    margin-left: 15px;
}

.group_photo{
    width: 100%;
}

@media screen and (max-width: 700px){
    .properties{
        grid-template-columns: repeat(2, 50%);
        row-gap: 40px;
        column-gap: 30px;   
    }
    .property{
        max-width: 320px;
        max-height: 440px;
    }

    .life-in-city{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .being_a_student_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px 10px;
        text-align: left;
    }

    .students_photo{
        max-width: 100%;
        margin-left: 15px;
    }

}
@media screen and (max-width: 500px){
    .properties{
        grid-template-columns: repeat(1, 100%);
    }

    .life-in-city{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .being_a_student_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px 10px;
        text-align: left;
    }

    .students_photo{
        max-width: 100%;
        margin-left: 15px;
    }
}
